<div class="row marketing">
    <h4>Arrest-MySQL</h4>
    <p>
        <a href="https://github.com/alixaxel/ArrestDB" target="_blank">ArrestDB</a>, by Alix Axel, is a more featureful version of Gilbert Pelligrom's Arrest-MySQL, which fits more neatly into this site.
    </p>

    <h4>Bootstrap</h4>
    <p>
        <a href="https://getbootstrap.com" target="_blank">Bootstrap</a> is a framework for quickly putting together attractive webapps.
    </p>

    <h4>HTML5 Boilerplate</h4>
    <p>
        <a href="https://github.com/h5bp/html5-boilerplate" target="_blank">HTML5 Boilerplate</a> is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
        <a href="https://angularjs.org/" target="_blank">AngularJS</a> is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>
        <a href="https://github.com/karma-runner/karma" target="_blank">Karma</a> is a spectacular Test Runner for JavaScript.
    </p>

    <h4>Glyphicons</h4>
    <p>
        <a href="http://glyphicons.com/" target="_blank">Glyphicons</a> are responsible for the lovely icons that you see here.
    </p>
</div>
