<div class="jumbotron">
    <img src="images/success.png" alt="Tasks" class="pull-left">
    <h1>Tasks</h1>
    <p class="lead">
        What did you do today?
    </p>
</div>
<div class="container" ng-show="user.authenticated">
    <div class="row">
        <!-- FIX ME: Alerts disappear forever after first dismissal -->
        <div class="alert alert-success alert-dismissible" role="alert" ng-show="formSubmit.greatSuccess">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Great!</strong> {{formSubmit.greatSuccess}}
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="formSubmit.failed">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Uh oh!</strong> {{formSubmit.failed}}
        </div>
        <div ng-repeat="input in formSubmit.inputs" class="input-group input-group-lg">
            <input type="text" ng-model="input.task" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="remove($index)"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>
        <div class="input-group input-group-lg">
            <input type="text" ng-model="formSubmit.input_new.task" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="add()"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
        </div>
        <br />
        <div class="hero button">
            <p class="pull-right btn-group"><a class="btn btn-lg btn-danger" ng-click="formClear()">Clear form <span class="glyphicon glyphicon-ok"></span> <a class="btn btn-lg btn-success" ng-click="submitForm(formSubmit.inputs)">Submit! <span class="glyphicon glyphicon-ok"></span></a></p>
        </div>
    </div>
</div>

