<div ng-controller="SignupCtrl as ctrl">
    <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="signup/#signin" data-toggle="tab">Sign In</a></li>
            <li class=""><a href="signup/#signup" data-toggle="tab">Register</a></li>
            <li class=""><a href="signup/#why" data-toggle="tab">Why?</a></li>
        </ul>
    </div>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in" id="why"><br />
            <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
            <p><br />Please contact <a mailto:href="joe@joeinn.es">joe@joeinn.es</a> for any other inquiries.</p>
        </div>
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal" novalidate>
                <fieldset>
                    <!-- Sign In Form -->
                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="userid">Alias:</label>
                        <div class="controls">
                            <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="JoeSixpack" class="input-medium" required="">
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="control-group">
                        <label class="control-label" for="passwordinput">Password:</label>
                        <div class="controls">
                            <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="control-group">
                        <label class="control-label" for="signin"></label>
                        <div class="controls">
                            <button id="signin" name="signin" class="btn btn-success">Sign In</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="signup">
            <form class="form-horizontal" name="signupForm">
                <fieldset>
                    <!-- Sign Up Form -->
                    <!-- Text input-->
                    <div class="control-group" ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine, 'has-success' : !signupForm.email.$invalid && !signupForm.email.$pristine }">
                        <label class="control-label" for="email">Email:</label>
                        <div class="controls">
                            <input name="email" class="form-control" type="email" placeholder="JoeSixpack@sixpacksrus.com" class="input-large" required ng-model="ctrl.email">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="name">Name:</label>
                        <div class="controls" ng-class="{ 'has-success' : !signupForm.name.$pristine } ">
                            <input name="name" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required ng-model="ctrl.name">
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="control-group">
                        <label class="control-label" for="password">Password:</label>
                        <div class="controls"  ng-class="{ 'has-error' : signupForm.password2.$error.match && !signupForm.password2.$pristine, 'has-success' : !signupForm.password2.$error.match && !signupForm.password2.$pristine }">
                            <input name="password" class="form-control" type="password" placeholder="********" class="input-large" required ng-model="ctrl.password">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group" ng-class="{ 'has-error' : signupForm.password2.$error.match && !signupForm.password2.$pristine, 'has-success' : !signupForm.password2.$error.match && !signupForm.password2.$pristine }">
                        <label class="control-label" for="password2">Re-Enter Password:</label>
                        <div class="controls">
                            <input class="form-control" name="password2" type="password" placeholder="********" class="input-large" required ng-model="ctrl.password2" match="ctrl.password">
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="control-group">
                        <label class="control-label" for="confirmsignup"></label>
                        <div class="controls">
                            <button id="confirmsignup" name="confirmsignup" class="btn btn-success" ng-disabled="signupForm.$invalid" ng-click="submitForm(ctrl)">Sign Up</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="error" ng-show="signupForm.password2.$error.match">Passwords do not match!</div>
        </div>
    </div>
    <br />
</div>
