<!--
// TODO: Handle flash of no content
// TODO: style buttons alternately
-->

<div class="container">
    <ul class="timeline">
        <li ng-repeat="task in tasks">
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h6 class="timeline-title">{{task.task}}</h6>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{task.timestamp * 1000 | date: 'dd MMM yyyy' }} by <span class="label label-primary">{{task.creator}}</span></small></p>
            </div>
          </div>
        </li>
    </ul>
</div>
